@charset "UTF-8";

@media screen and (min-width: 768px){
    
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    menu > ul > li > a{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    main{
        max-width: 768px;
    }
}